
<aside>
    <div class='inner'>
        <p v-if='!botes.length'>Boo, no botes! Get writing</p>
    </div>
    <div class='botes'>
        <div class='bote' v-if='botes.length' v-for='bote in botes_sorted'>
            <a href='#' class='remove' @click.prevent='delete_bote(bote.id)'><span class='icon'>&times;</span></a>
            <div class='bote-inner'>
                <a href='#' class='title' @click.prevent='open_bote(bote.id)'>
                    <span v-if='bote.title'>{{ bote.title }}</span>
                    <span v-else>Untitled</span>
                </a>
                <p class='body'>
                    <span v-if='bote.body'>{{ bote.body }}</span>
                    <span v-else>Empty</span>
                </p>
            </div>
        </div>
    </div>
    <a v-if='store' href='#' @click.prevent='store_botes' class='store'>store BOTE</a>
    <a v-else-if='botes.length' href='#' @click.prevent='clear_bote' class='clear'>new BOTE</a>
</aside>

<main>
    <input type='text' placeholder='enter TITLE here...' v-model='bote.title' v-on:keydown='save_bote'>
    <textarea placeholder='enter BOTE here...' v-model='bote.body' v-on:keydown='save_bote'></textarea>
    <footer>
        <p>words: {{ word_count }}</p>
        <p>saved: {{ last_saved }}</p>
    </footer>
</main>
