
<aside>
    <p class='inner' v-if='!botes.length'>start writing</p>
    <input type='text' v-else v-model='search' placeholder='search'>
    <div class='botes'>
        <div class='bote' v-if='botes.length' v-for='bote in botes_sorted'>
            <a href='#' class='remove' @click.prevent='delete_bote(bote._id)'><span class='icon'>&times;</span></a>
            <div class='bote-inner' @click.prevent='open_bote(bote._id)'>
                <p class='body'>
                    <span v-if='bote.body'>{{ bote.body }}</span>
                    <span v-else>Empty</span>
                </p>
            </div>
        </div>
    </div>
    <a v-if='store' href='#' @click.prevent='store_botes' class='store'>store bote</a>
    <a v-else-if='botes.length' href='#' @click.prevent='clear_bote' class='clear'>new bote</a>
</aside>

<main>
    <textarea placeholder='enter bote here...' v-model='bote.body' v-on:keydown='save_bote'></textarea>
    <footer>
        <p>words: {{ word_count }}</p>
        <p>saved: {{ last_saved }}</p>
    </footer>
</main>
