
<title><%= page_title %></title>
<link rel='stylesheet' href='/css/normalize.css'>
<link rel='stylesheet' href='/css/style.css'>
<meta name='robots' content='noindex, nofollow'>
<meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
<meta charset='utf-8'>
