<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body id="<%= page_id %>">
        <div class="auth_url">
            <a href="/auth/vk" class="btn">авторизация</a>
        </div>
    </body>
</html>