<!DOCTYPE html>
<html>
    <head><% include template/head.ejs %></head>
    <body id="<%= page_ID %>">
        <div id="app">
        <% include template/app.ejs %>
        </div>
    <% include template/footer.ejs %>
    </body>
</html>
